
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `adhesionpointsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adhesionpointsettings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pointvalue` double NOT NULL,
  `status` text DEFAULT 'available',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `ambassador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ambassador` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` bigint(20) NOT NULL,
  `member_code` bigint(20) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `ambassador_crowned`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ambassador_crowned` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` bigint(20) NOT NULL,
  `member_code` bigint(20) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `builder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `builder` (
  `id_constructor` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` int(11) NOT NULL,
  `member_id` text NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_constructor`)
) ENGINE=InnoDB AUTO_INCREMENT=6035 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `cash_operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_operations` (
  `cash_id` bigint(20) NOT NULL,
  `cash_mount` double NOT NULL,
  `member_code` bigint(20) NOT NULL,
  `cash_mode` text NOT NULL,
  `bank_name` text DEFAULT NULL,
  `own_bank_account` text DEFAULT NULL,
  `bank_account_number` text DEFAULT NULL,
  `mobile_number` text DEFAULT NULL,
  `cash_statute` text NOT NULL,
  `cash_date` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `categorie_id` int(11) NOT NULL,
  `categorie_name` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `categoriesproducts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoriesproducts` (
  `id` int(11) NOT NULL,
  `name` text NOT NULL,
  `description` text DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `updatedAt` datetime NOT NULL DEFAULT current_timestamp(),
  `added_by` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `id` int(11) NOT NULL,
  `name` text NOT NULL,
  `state_id` text NOT NULL,
  `state_code` text NOT NULL,
  `state_name` text NOT NULL,
  `country_id` int(20) NOT NULL,
  `country_code` text NOT NULL,
  `country_name` text NOT NULL,
  `latitude` text NOT NULL,
  `longitude` text NOT NULL,
  `wikiDatald` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coffrets_vip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coffrets_vip` (
  `id` int(11) NOT NULL,
  `member_id` int(11) NOT NULL,
  `pu` double DEFAULT NULL,
  `total` double NOT NULL,
  `created_at` datetime NOT NULL,
  `number` int(11) DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `countries` (
  `id` int(11) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `code` char(2) DEFAULT NULL,
  `status` enum('available','deleted','','') NOT NULL DEFAULT 'available'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `depositproducts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `depositproducts` (
  `id` int(11) NOT NULL,
  `deposit_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` double NOT NULL DEFAULT 0,
  `quantity_sold` double DEFAULT 0,
  `price_sold` double DEFAULT 0,
  `point` double DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp(),
  `added_by` text NOT NULL,
  `stock_alert` double DEFAULT 0,
  `price_gros` double DEFAULT 0,
  `price_detail` double DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `deposits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deposits` (
  `id` bigint(20) unsigned NOT NULL,
  `added_by` text NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT 'group',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `method` text DEFAULT 'fifo'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `depositusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `depositusers` (
  `id` int(11) NOT NULL,
  `deposit_id` int(11) NOT NULL,
  `user_id` text NOT NULL,
  `access` enum('entry','withdraw','all','') NOT NULL DEFAULT 'all',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `added_by` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `diamond`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diamond` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` bigint(20) NOT NULL,
  `member_code` bigint(20) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `diamond_crowned`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diamond_crowned` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` bigint(20) NOT NULL,
  `member_code` bigint(20) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `emerald`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emerald` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` int(11) NOT NULL,
  `member_code` int(11) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `entries_accountancy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entries_accountancy` (
  `id_entry_accountancy` int(11) NOT NULL AUTO_INCREMENT,
  `amount` double NOT NULL,
  `member_id` text NOT NULL COMMENT 'member who does the transaction',
  `wording` text NOT NULL,
  `provenance_entry` text DEFAULT NULL,
  `date_entry_accountancy` datetime NOT NULL,
  `point` double DEFAULT 0,
  `used` tinyint(1) DEFAULT 0,
  `adhesion` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id_entry_accountancy`)
) ENGINE=InnoDB AUTO_INCREMENT=15762 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `entry_account_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entry_account_member` (
  `id_entry` int(11) NOT NULL AUTO_INCREMENT,
  `amount` double NOT NULL,
  `wording` text NOT NULL COMMENT 'libelle',
  `member_id` text NOT NULL,
  `transaction_type` text NOT NULL,
  `date_entry` datetime NOT NULL,
  PRIMARY KEY (`id_entry`)
) ENGINE=InnoDB AUTO_INCREMENT=9000 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `inscription_cost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscription_cost` (
  `amount` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `invoice_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoice_details` (
  `id` bigint(20) unsigned NOT NULL,
  `product_id` int(11) NOT NULL,
  `invoice_id` int(11) NOT NULL,
  `deposit_id` int(11) NOT NULL,
  `quantity` double NOT NULL,
  `price` double NOT NULL,
  `total` double DEFAULT NULL,
  `benefit` double DEFAULT NULL,
  `stock_history` int(11) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `date_at` date DEFAULT NULL,
  `points` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` bigint(20) unsigned NOT NULL,
  `edited_by_id` text NOT NULL,
  `customer_id` text DEFAULT NULL,
  `total` double NOT NULL,
  `type_facture` varchar(255) NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `uuid` varchar(255) DEFAULT NULL,
  `total_received` double DEFAULT NULL,
  `done_at` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `nature` enum('products','solds','maj','') NOT NULL DEFAULT 'products'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `isb_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `isb_account` (
  `isb_code` int(11) NOT NULL,
  `name` text NOT NULL,
  `isb_id` text NOT NULL,
  `isb_password` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `last_sign_on`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `last_sign_on` (
  `member_code` bigint(20) NOT NULL,
  `date_hour` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `majpointsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `majpointsettings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pointvalue` double NOT NULL,
  `status` text DEFAULT 'available',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `members` (
  `member_code` bigint(20) NOT NULL AUTO_INCREMENT,
  `member_id` text NOT NULL,
  `name` text NOT NULL,
  `lastname` text NOT NULL,
  `pseudo` text NOT NULL,
  `telephone` text NOT NULL,
  `email` text NOT NULL,
  `gender` text NOT NULL,
  `password` text NOT NULL,
  `username` text NOT NULL,
  `date` datetime NOT NULL,
  `categorie_id` int(11) NOT NULL,
  `parent_code` bigint(20) NOT NULL,
  `sponsor_code` bigint(20) NOT NULL,
  `e_mobile_number` text NOT NULL,
  `bank_name` text NOT NULL,
  `bank_account` text NOT NULL,
  `total_amount_e_wallet` double NOT NULL,
  `password_e_wallet` text NOT NULL,
  `inscription_mode` text NOT NULL,
  `member_statute` text NOT NULL,
  `actual_level` int(11) NOT NULL,
  `pdfpaquet` double DEFAULT 0,
  `adress` text DEFAULT NULL,
  `city` int(20) DEFAULT NULL,
  PRIMARY KEY (`member_code`)
) ENGINE=InnoDB AUTO_INCREMENT=6614 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id_notification` int(11) NOT NULL AUTO_INCREMENT,
  `message_notified` text NOT NULL,
  `member_id` text NOT NULL COMMENT 'to whom message it''s sent',
  `date_notification` datetime NOT NULL,
  `status_notification` text NOT NULL,
  PRIMARY KEY (`id_notification`)
) ENGINE=InnoDB AUTO_INCREMENT=56557 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `periodicmajsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periodicmajsettings` (
  `id` int(11) NOT NULL,
  `citie_id` int(11) NOT NULL,
  `begin_at` datetime NOT NULL,
  `end_at` datetime NOT NULL,
  `description` text DEFAULT NULL,
  `added_by` text NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `status` enum('available','deleted','suspended','') DEFAULT 'available'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `permutation_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permutation_mouvements` (
  `id_permutation` int(11) NOT NULL,
  `old_parent_code` bigint(20) NOT NULL,
  `new_parent_code` bigint(20) NOT NULL,
  `member_code` text NOT NULL,
  `date_permutation` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL,
  `name` text NOT NULL,
  `description` text DEFAULT NULL,
  `category_id` int(11) DEFAULT NULL,
  `uom_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `added_by` text NOT NULL,
  `status` text DEFAULT 'available'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `ruby`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ruby` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` int(11) NOT NULL,
  `member_code` int(11) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB AUTO_INCREMENT=128 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `sapphire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sapphire` (
  `id_sapphire` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` int(11) NOT NULL,
  `member_code` int(11) NOT NULL,
  `status` enum('paid','unpaid','unknown','') DEFAULT 'unpaid',
  PRIMARY KEY (`id_sapphire`)
) ENGINE=InnoDB AUTO_INCREMENT=1186 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `stockmouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stockmouvements` (
  `id` int(11) NOT NULL,
  `deposit_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` double NOT NULL,
  `price` double DEFAULT NULL,
  `total` double DEFAULT NULL,
  `done_at` date NOT NULL DEFAULT current_timestamp(),
  `expiration_date` date DEFAULT NULL,
  `note` text DEFAULT NULL,
  `added_by` text NOT NULL,
  `type` enum('entry','withdraw','','') NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp(),
  `motif` enum('internal','transfert','used','sold') DEFAULT NULL,
  `stock_before` double DEFAULT NULL,
  `sold` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `stocktransferts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stocktransferts` (
  `id` int(11) NOT NULL,
  `deposit_sender` int(11) NOT NULL,
  `deposit_receiver` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` double NOT NULL,
  `quantity_received` double DEFAULT NULL,
  `received_at` datetime NOT NULL DEFAULT current_timestamp(),
  `note` text DEFAULT NULL,
  `added_by` text NOT NULL,
  `received_by` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp(),
  `status` enum('received','pending','denied','litigation') NOT NULL DEFAULT 'pending'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `transactions_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions_accounts` (
  `id` int(30) NOT NULL,
  `amount` double NOT NULL,
  `wording` text DEFAULT NULL,
  `member_id_source` text NOT NULL,
  `member_id_destination` text NOT NULL,
  `date_transaction` datetime NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `uoms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uoms` (
  `id` int(11) NOT NULL,
  `name` text NOT NULL,
  `description` text DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `updatedAt` datetime NOT NULL DEFAULT current_timestamp(),
  `added_by` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `validation_member_expiration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `validation_member_expiration` (
  `days_fixed` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `wayout_account_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wayout_account_member` (
  `id_wayout` int(30) NOT NULL AUTO_INCREMENT,
  `amount` double NOT NULL,
  `wording` text DEFAULT NULL COMMENT 'libelle',
  `member_id` text NOT NULL,
  `transaction_type` text NOT NULL,
  `date_wayout` datetime NOT NULL,
  PRIMARY KEY (`id_wayout`)
) ENGINE=InnoDB AUTO_INCREMENT=9180 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `wayout_accountancy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wayout_accountancy` (
  `id_entry_accountancy` int(30) NOT NULL AUTO_INCREMENT,
  `amount` double NOT NULL,
  `provenance_wayout` text NOT NULL,
  `wording` text DEFAULT NULL,
  `done_by` text DEFAULT NULL,
  `date_wayout_accountancy` datetime NOT NULL,
  PRIMARY KEY (`id_entry_accountancy`)
) ENGINE=InnoDB AUTO_INCREMENT=9554 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `withdrawals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `withdrawals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` bigint(20) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `month` text NOT NULL,
  `year` year(4) NOT NULL,
  `statute` enum('validated','deleted','pending') NOT NULL DEFAULT 'validated',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

